:root {
    --pink: #F2BBC5;
    --white: #F2F2F2;
    --green: #C4DEDB;
    --blue: #BCD4EC;
    --yellow: #FAECC4;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: var(--pink);
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-header-menu, .flex-footer-menu, .flex-side-menu {
    flex-shrink: 0;
    background-color: #FAECC4;
    color: #000;
    padding: 0px 4px 0px 4px;
}

.flex-main-content {
    flex: 1;
}

/* Mobile-first: These rules apply by default */
.flex-header-menu {
    display: none; /*hide the header*/
}

.flex-side-menu {
    display: none;
}

.flex-footer-menu {
    display: block; /* show the footer*/
}

.main-container {
    width: 100vw; /*set the widthe to full screen*/
}

@media only screen and (min-width: 601px) and (max-width: 1194px) {
    .flex-container {
        flex-direction: row;
    }

    .flex-header-menu{
        display: none;
    }

    .flex-side-menu {
        display: block;
    }

    .flex-footer-menu {
        display: none; 
    }
}

@media only screen and (min-width: 1195px) {
    .flex-header-menu{
        display: block;
    }

    .flex-side-menu {
        display: none;
    }

    .flex-footer-menu {
        display: none; 
    }
    
    .main-container-menu {
        width: 75vw; 
    }
}