/* styling the nav-link in album page */
.artist-link {
    font-family: 'Dancing+Script', cursive;
    font-size: medium;
    background-color: rgba(151, 151, 151, 0.741);
    text-decoration: none;
    border-radius: 10px;
    color: #242424;
    font-weight: 530;
    padding: 5px 5px;
    margin-top: 10px;;
}

.artist-link:hover {
    background-color: pink;
}

.create-album-link {
    color: black;
    font-family: 'Dancing+Script', cursive;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    background:transparent;
    margin: 10px 15px;
    padding: 2px 5px;  
    border-radius: 10px;
    }

.create-album-link:hover {
    background-color: pink;
}

.control-album-link {
    font-family: 'Dancing+Script', cursive;
    font-size: medium;
    text-decoration: none;
    color: #242424;
    font-weight: 530;
    padding: 5px 5px;
    margin-left: 20px;
}

.control-album-link:hover {
    background-color: pink;
    border-radius: 10px;
}

/* reset the css for desktop device */
@media only screen and (min-width: 1195px) {
    .create-album-link {
        color: black;
        font-family: 'Dancing+Script', cursive;
        font-size: 36px;
        font-weight: 700;
        text-decoration: none;
        background:transparent;
        margin: 10px 25px;
        padding: 2px 5px;  
        border-radius: 10px;
        }
    .control-album-link {
        font-family: 'Dancing+Script', cursive;
        font-size: medium;
        text-decoration: none;
        color: #242424;
        font-weight: 530;
        padding: 5px 5px;
        margin-left: 25px;
    }
}