/* general style */
html, body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;  
}

/* set text style */
h1 {
    color: black;
    font-family: 'Dancing+Script', cursive;
    font-size: 36px;
    font-weight: 700;
    margin-left: 10px;
    }

h2 {
    color: black;
    font-family: 'Dancing+Script', cursive;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 10px;
    }

/* grid to position content */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto 1fr;
    }

/* styling two main functions in homepage */
.guess-like-link {
    font-family: 'Dancing+Script', cursive;
    font-size: medium;
    text-decoration: none;
    color: #242424;
    font-weight: 530;
    margin-left: 30px;
}

.guess-like-link:hover {
    background-color: pink;
    border-radius: 10px;
}

.playlist-link {
    font-family: 'Dancing+Script', cursive;
    font-size: medium;
    text-decoration: none;
    color: #242424;
    font-weight: 530;
    margin-left: 30px;
}

.playlist-link:hover {
    background-color: pink;
    border-radius: 10px;
}

/* Navigation */
.nav-link {
    color: #242424;
    text-decoration: none;
    padding: 3px 2px;
    font-weight: 400;

}

.nav-link:hover {
    border-radius: 20px;
    background: rgb(255, 249, 234);
}

.nav-link.active {
    border-radius: 20px;
    background: rgb(255, 249, 234);
}

/* Music title on homepage */
.head-text {
    color: #242424;
    text-decoration: none;
    font-family: 'Dancing+Script', cursive;
    font-weight: 400;
    font-size: 40px
}

.head-img {
    width: 40px;
    margin-right: 10px;
}

/* two help css for styling img */
.grab-picture-1 {
    justify-items: center;
    align-items: center;
    height: 45vh;
    width: auto;
}

.grab-picture-2 {
    justify-items: center;
    align-items: center;
    height: auto;
    width: 100%;
}

/* content for notification & playlist page */
.centered-content {
    margin-top: 20px;
}

/* 3 menus for different size */
.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flex-header-menu, .flex-footer-menu, .flex-side-menu {
    flex-shrink: 0;
    background-color: rgb(246, 246, 246);
    color: #000;
    border: 1px solid #cecece;
    padding: 0px 4px 0px 4px;
}

.flex-main-content {
    width: 100%;
    
}

/* Mobile-first: These rules apply by default */
.flex-header-menu {
    display: none; /*hide the header*/
}

.flex-side-menu {
    display: none;
}

.flex-footer-menu {
    /* show the footer*/
    position: fixed;
    bottom: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    padding: 2vh 5vw;
    text-align: center;
}

.flex-footer-menu img{
    width: 2vw;
    height: auto;
    min-width: 24px;
    max-width: 50px;
}

.main-container {
    width: 100vw; /*set the widthe to full screen*/
}

.grid-row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(10vh, auto);
    gap: 16px;
    margin: 2vh 2vw;
}

.top-grid-row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(1vh, 4vh);
    gap: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-items: center;
}

/* grid for promotion banner */
.bottom-grid-row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(1vh, 3vh);
    gap: 8px;
    align-items: center;
    justify-items: start;
}
.grid-row img {
    max-width: 100%; 
    max-height: 100%; 
    width: auto; 
    height: auto;
    object-fit: contain;
}

.promotion-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6vh;
    background-color: #7bf2ff;
    color: #000000; 
    text-align: start; 
    padding: 20px; 
    
}

.promotion-banner p {
    font-family: 'Times New Roman', Times, serif;
}

/* top banner on homepage */
.top-banner {
    width: 100%;
    background-color: #aaf6ff;
    color: #000000; 
    border-bottom: 1px solid #d1d1d1;
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 50px;
    margin-bottom: 20px;
}

.top-banner p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
}

.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

@media only screen and (min-width: 601px) and (max-width: 1194px) {
    .flex-container {
        flex-direction: row;
    }

    .flex-header-menu{
        display: none;
    }

    /* display side menu */
    .flex-side-menu {
        position: fixed;  
        height: 100%;
        display: grid;
        width: 130px;
        grid-auto-rows: min-content;
        gap: 4vh;
        padding: 5vh 3vw;
        align-content: start;
        justify-content: center;
        text-align: center;
    }
    .flex-side-menu a {
        background-color: rgb(246, 246, 246);
    }

    .flex-side-menu a:active {
        background-color: #d3d2d2;
    }
    .flex-side-menu img{
        width: 2vw;
        height: auto;
        min-width: 24px;
        max-width: 40px;
    }

    .flex-side-menu span{
        display: block;
    }

    .flex-main-content {
        margin-left: 180px;
        width: 100%;
        
    }

    .flex-footer-menu {
        display: none; 
    }

    .promotion-banner {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6vh;
        background-color: #7bf2ff;
        color: #000000; 
        text-align: start; 
        padding: 20px; 
    }

    .top-bar  {
        margin-top: 0px;
    }

    .col-md-1 { grid-column: span 1; }
    .col-md-2 { grid-column: span 2; }
    .col-md-3 { grid-column: span 3; }
    .col-md-4 { grid-column: span 4; }
    .col-md-5 { grid-column: span 5; }
    .col-md-6 { grid-column: span 6; }
    .col-md-7 { grid-column: span 7; }
    .col-md-8 { grid-column: span 8; }
    .col-md-9 { grid-column: span 9; }
    .col-md-10 { grid-column: span 10; }
    .col-md-11 { grid-column: span 11; }
    .col-md-12 { grid-column: span 12; }
}

@media only screen and (min-width: 1195px) {
    .flex-container {
        flex-direction: row;
    }

    /* display header menu */
    .flex-header-menu{
        position: fixed;
        height: 100%;
        display: grid;
        width: 170px;
        grid-auto-rows: min-content;
        gap: 4vh;
        padding: 5vh 3vw;
    }

    .flex-side-menu {
        display: none;
    }

    .flex-header-menu a {
        background-color: rgb(246, 246, 246);
    }

    .flex-header-menu a:active {
        background-color: #d3d2d2;
    }

    .flex-footer-menu {
        display: none; 
    }
    
    .main-container-menu {
        width: 75vw; 
    }
    
    .flex-main-content {
        margin-left: 250px;
        margin-bottom: 50px;
        
    }

    .promotion-banner {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6vh;
        background-color: #7bf2ff;
        color: #000000; 
        text-align: start; 
        padding: 20px; 
    }
    
    .top-bar  {
        margin-top: 0px;
    }

    h1 {
        color: black;
        font-family: 'Dancing+Script', cursive;
        font-size: 36px;
        font-weight: 700;
        margin-left: 30px;
        }
    
    h2 {
        color: black;
        font-family: 'Dancing+Script', cursive;
        font-weight: 400;
        margin-left: 30px;
        margin-top: 10px;
        }

    .col-lg-1 { grid-column: span 1; }
    .col-lg-2 { grid-column: span 2; }
    .col-lg-3 { grid-column: span 3; }
    .col-lg-4 { grid-column: span 4; }
    .col-lg-5 { grid-column: span 5; }
    .col-lg-6 { grid-column: span 6; }
    .col-lg-7 { grid-column: span 7; }
    .col-lg-8 { grid-column: span 8; }
    .col-lg-9 { grid-column: span 9; }
    .col-lg-10 { grid-column: span 10; }
    .col-lg-11 { grid-column: span 11; }
    .col-lg-12 { grid-column: span 12; }
}

/* img in menu */
.icon-img{
    align-items: center;
    justify-items: center;
    width: 18px;
    height: auto;
}

/* text in menu */
.icon-text {
    font-size: 12px;
    font-weight: 450;
    padding: 1vw;
}

.app-text {
    font-size: 12px;
    font-weight: 400;
    padding: 1vw;
    color: gray;
}

/* link for get app on mobile devices */
.nav-link-app {
    border-top: 1px solid gainsboro;
    text-decoration: none;
    padding: 8px 0;
}

/* styling discount button */
#discount-code{
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid gray;
    padding: 3px 2px;
}

/* Style the search container to position the search icon */
.search-container {
    position: relative;
    display: inline-block;
}

/* Style the search icon */
.search-icon {
    position: absolute;
    width: 15%;
    height: auto;
    top: 50%;
    right: 10px; /* Adjust the right distance as needed */
    transform: translateY(-50%);
    cursor: pointer;
}

/* Style the search bar input */
.search-bar {
    padding: 5px 30px; /* Adjust the padding to accommodate the icon */
    border: 1px solid #ccc;
    border-radius: 10px; 
    width: 100px; 
}


