/* icons in login page */
.icon {
    display: grid;
    grid-auto-rows: min-content;
    justify-items: start;
    align-items: start;
}
.centered-content img{
    width: auto;
    height: 50vh;
    padding: 2vw;
}

/* music play button */
.play-bar {
    width: 2vw;
    height: auto;
    padding: 1vh;
}

#playbutton {
    width: 1.5vw;
    height: auto;
}

/* main img in top banner on homepage */
.decoration-bar {
    justify-items: center;
    align-items: center;
    width: 30vw;
    height: auto;
}

/* menu button */
.menu {
    width: 50%;
    height: auto;
}

/* volume button */
.volumn {
    width: 50%;
    height: auto;
    margin: 3px;
}
