/* Basic styles */

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    text-align: center;
}

.music-player {
    max-width: 400px;
    margin: 0 auto;
}

.music-info {
    margin-bottom: 20px;
}

audio {
    width: 100%;
}

.playlist {
    list-style-type: none;
    padding: 0;
}

.playlist li {
    margin: 10px 0;
}
