html, body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;  
}

.split-container {
    display: flex;
}

/* split page into two equal parts */
.left-section, .right-section {
    flex: 1;
    
}

/* styling left part */
.left-section {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid gainsboro;
}

/* styling right part */
.right-section {
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* set the left and right section be top and bottom for small device */
@media (max-width: 768px) {
    .split-container {
        flex-direction: column;
    }
}

/* atyling top banner */
.top-banner {
    background-color: pink;
    color: white;
    text-align: center;
    height: 60px;
}

.top-banner img{
    width: 20px;
    height: auto;
}

/* styling functions under img of cover of musc */
.music-function img {
    width: 25px;
    height: auto;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 50%;
}

/* use grid to appropriate position elements */
.grid-row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(10vh, auto);
    gap: 16px;
    margin: 2vh 2vw;
}

.centered-content img {
    width: 20vw;
    height: auto;
    border-radius: 50%;
    border: 3px solid gainsboro;

}

/* set the element be centered */
.centered-content {
    justify-items: center;
    align-content: center;
}

/* styling the text of lyrics */
.lyrics {
    font-family: Poppins;
    font-weight: 400;
    color: gray;
}

/* styling the footer banner */
.footer-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #CEF9FF;
    color: rgb(144, 144, 144); 
    height: auto;
    text-align: center; 
}

.footer-banner img {
    width: 100%;
    height: auto;
}

/* highlight the ling of lyrics is playing */
.played-lyric {
    color: #000;
    font-weight: 500;
}